USE [master]
GO
/****** Object:  Database [LOJADB]    Script Date: 24/03/2025 14:43:37 ******/
CREATE DATABASE [LOJADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOJADB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJADB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOJADB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJADB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOJADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOJADB]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](80) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[PRECO] [decimal](10, 2) NULL,
	[ESTOQUE] [int] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[FATURADO] [bit] NULL,
	[CODIGOCLIENTE] [int] NULL,
	[CODIGOPRODUTO] [int] NULL,
 CONSTRAINT [PK_VENDAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_CLIENTE] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[CLIENTES] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_CLIENTE]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_PRODUTO] FOREIGN KEY([CODIGOPRODUTO])
REFERENCES [dbo].[PRODUTOS] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_PRODUTO]
GO
/****** Object:  StoredProcedure [dbo].[Altera_cliente]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Altera_cliente]
    @codigo int output,
    @nome varchar (100), 
    @email varchar (100),
    @telefone varchar (80)
AS
UPDATE CLIENTES SET nome = @nome, email = @email, telefone = @telefone WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Altera_produto]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Altera_produto]
    @codigo int output,
    @nome varchar (100), 
    @preco decimal (10,2),
    @estoque int 
AS
UPDATE CLIENTES SET nome = @nome, @preco = @preco, @estoque = @estoque WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Altera_venda]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Altera_venda]
    @codigo int output,
    @data varchar (100), 
    @quantidade varchar (100),
    @faturado bit

AS
UPDATE VENDAS SET data = @data, quantidade = @quantidade, faturado = @faturado WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Exclui_cliente]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exclui_cliente]
    @codigo int
AS
DELETE FROM CLIENTES WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Exclui_produto]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exclui_produto]
    @codigo int
AS
DELETE FROM PRODUTOS WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Exclui_venda]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exclui_venda]
    @codigo int
AS
DELETE FROM VENDAS WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Insere_cliente]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insere_cliente]
@codigo int output,
@nome varchar (100), 
@email varchar (100),
@telefone varchar (80)
AS
INSERT INTO CLIENTES (nome, email, telefone)
VALUES (@nome, @email, @telefone)
SET @codigo = (SELECT @@IDENTITY)
GO
/****** Object:  StoredProcedure [dbo].[Insere_produto]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insere_produto]
@codigo int output,
@nome varchar (100), 
@preco decimal (10,2),
@estoque int 
AS
INSERT INTO PRODUTOS(nome, preco, estoque)
VALUES (@nome, @preco, @estoque)
SET @codigo = (SELECT @@IDENTITY)
GO
/****** Object:  StoredProcedure [dbo].[Insere_venda]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insere_venda]
@codigo int output,
@data varchar (100), 
@quantidade decimal (10,2),
@faturado bit
AS
INSERT INTO VENDAS (data, quantidade, faturado)
VALUES (@data, @quantidade, @faturado)
SET @codigo = (SELECT @@IDENTITY)
GO
/****** Object:  StoredProcedure [dbo].[Seleciona_cliente]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seleciona_cliente]
    @filtro varchar (100) = NULL
AS
BEGIN
    IF @filtro IS NULL
        SELECT * FROM CLIENTES
    ELSE 
        SELECT * FROM CLIENTES
        WHERE NOME LIKE '%' + @filtro + '%'
        OR EMAIL LIKE '%' + @filtro + '%'
        OR TELEFONE LIKE '%' + @filtro + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[Seleciona_produto]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seleciona_produto]
    @filtro varchar (100) = NULL
AS
BEGIN
    IF @filtro IS NULL
        SELECT * FROM PRODUTOS
    ELSE 
        SELECT * FROM PRODUTOS
        WHERE NOME LIKE '%' + @filtro + '%'
        OR PRECO LIKE '%' + @filtro + '%'
        OR ESTOQUE LIKE '%' + @filtro + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[Seleciona_venda]    Script Date: 24/03/2025 14:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seleciona_venda]
    @filtro varchar (100) = NULL
AS
BEGIN
    IF @filtro IS NULL
        SELECT * FROM VENDAS
    ELSE 
        SELECT * FROM VENDAS
        WHERE DATA LIKE '%' + @filtro + '%'
        OR QUANTIDADE LIKE '%' + @filtro + '%'
        OR FATURADO LIKE '%' + @filtro + '%'
END
GO
USE [master]
GO
